// Variables for mobile first breakpoints (min-width in media queries)
$breakpoint-tablet-port: 37.5em; // 600px
$breakpoint-tablet-land: 56.25em; // 900px
$breakpoint-desktop: 75em; // 1200px
$breakpoint-big-desktop: 112.5em;

// Color variables
$color-primary-100: #fafafa;
$color-primary-200: #696969;
$color-primary-300: #141414;
