.button {
  &:link,
  &:visited {
    @include flex-row-center;

    text-decoration: none;
    font-weight: 500;
    padding: 1.25rem 2rem;
    border: 1px solid;
    border-radius: 1.5rem;
    transition: all 0.1s ease-in-out;
    font-size: 1.6rem;

    @include mediaQuery(tablet-port) {
      font-size: 1.8rem;
      padding: 1.5rem 2.5rem;
    }

    @include mediaQuery(tablet-land) {
      font-size: 1.6rem;
    }

    @include mediaQuery(desktop) {
      font-size: 1.6rem;
    }
  }

  &--black {
    color: $color-primary-100;
    background-color: $color-primary-300;
    border-color: $color-primary-300;

    &:hover {
      background-color: $color-primary-100;
      color: $color-primary-300;
    }
  }

  &--pure-white {
    color: $color-primary-200;
    border-color: $color-primary-200;
    background-color: #fff;

    &:hover {
      background-color: #fff;
      color: $color-primary-300;
      border-color: $color-primary-300;
    }
  }

  &--white {
    color: $color-primary-200;
    border-color: $color-primary-200;
    background-color: $color-primary-100;

    &:hover {
      background-color: $color-primary-100;
      color: $color-primary-300;
      border-color: $color-primary-300;
    }
  }

  &--no-border {
    border: none !important;
  }
}
